extends layout

block content
  .container.sticky-top
    .row
      h1= title
    .row
      .col
        iframe(src='https://ghbtns.com/github-btn.html?user=Hkakashi&repo=buy-all-games&type=star&count=true&size=large' frameborder='0' scrolling='0' width='120' height='30' title='GitHub')
        iframe(src='https://ghbtns.com/github-btn.html?user=Hkakashi&type=follow&count=true&size=large' frameborder='0' scrolling='0' width='230' height='30' title='GitHub')
        iframe(src='https://ghbtns.com/github-btn.html?user=xingyunhan-1126&type=follow&count=true&size=large' frameborder='0' scrolling='0' width='290' height='30' title='GitHub')

